rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /games/{gameId} {
      allow read: if true;

      allow create: if request.resource.data.keys().hasAll([
        'players','board','turn','winner','status','createdAt'
      ]);

      allow update: if isValidUpdate();
      allow delete: if true; // tighten for production

      function isValidUpdate() {
        return request.resource.data.board.size() == 9
          && request.resource.data.turn in ['X','O']
          && request.resource.data.winner in ['', 'X','O','draw']
          && request.resource.data.status in ['waiting','in_progress','finished','abandoned'];
      }
    }
  }
}